<!--<alert type="success">Bootstrap works!</alert>-->

<div>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a [routerLink]="['/']" class='navbar-brand'>A2 Rest App</a>
      <ul class='nav navbar-nav noFloat'>
        <li><a [routerLink]="['/test']">{{languageService.actualLanguage.menu.btnTest}}</a></li>
        <li class='rightFloat'>
          <button type="button" class="btn btn-warning" (click)="changeLanguage()">{{languageService.actualLanguage.menu.btnChangeLanguage}}</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>
</div>
