<div class="row">
  <div class="col-md-12">
		<div class="form-group">
			<label for="inputSearchUser">{{languageService.actualLanguage.general.lblFindByTitle}}</label>
			<input [(ngModel)]="searchText" type="text" id="inputSearchUser" class="form-control" placeholder="{{languageService.actualLanguage.general.plhFindByTitle}}" required="" autofocus="">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
			<table class="table table-striped" [mfData]="mySearch()" #mf="mfDataTable" [mfRowsOnPage]="5">
			<thead>
				<tr>
					<th style="width: 5%; text-align: left;">
						<mfDefaultSorter by="id">id</mfDefaultSorter>
					</th>
					<th style="width: 35%; text-align: left;">
						<mfDefaultSorter by="title">{{languageService.actualLanguage.test.lblAuthor}}</mfDefaultSorter>
					</th>
					<th style="width: 40%; text-align: left;">
						<mfDefaultSorter by="body">{{languageService.actualLanguage.test.lblTitle}}</mfDefaultSorter>
					</th>
					<th style="width: 10%; text-align: center;">
						<mfDefaultSorter>{{languageService.actualLanguage.general.lblEdit}}</mfDefaultSorter>
					</th>
					<th style="width: 10%; text-align: center;">
						<mfDefaultSorter>{{languageService.actualLanguage.general.btnCancel}}</mfDefaultSorter>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of mf.data; let idx = index;">
					<td>{{item.id}}</td>
					<td>{{item.author}}</td>
					<td>{{item.title}}</td>
					<td class="text-center">
						<span style="cursor:pointer;font-size:large;color:green;" (click)="openModalEditTest(item)" 
									class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </td>
					<td class="text-center">
						<span style="cursor:pointer;font-size:large;color:red;" (click)="openModalDeleteTest(item)" data-toggle="modal" 
									class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="modal fade" id="myModalDelete" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" >
			<div class="modal-header">
				<h4 class="modal-title">{{languageService.actualLanguage.test.lblDeleteModal}}</h4>
			</div>      	
			<div class="modal-body">
				{{languageService.actualLanguage.test.bodyDeleteModal}}
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-primary" (click)="deleteTest()">{{languageService.actualLanguage.general.btnConfirm}}</button>
				<button type="button" data-dismiss="modal" class="btn btn-danger">{{languageService.actualLanguage.general.btnCancel}}</button>
			</div>
    </div>
	</div>
</div>

<div class="modal fade" id="myModalEdit" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" >
			<div class="modal-header">
				<h4 class="modal-title">{{languageService.actualLanguage.test.lblEditModal}}</h4>
			</div>      	
			<div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon glyphicon myEditIcon" id="basic-addon1">{{languageService.actualLanguage.test.lblAuthor}}</span>
              <input [value]="itemAppoggio.author" (input)="itemAppoggio.author=$event.target.value" type="text" id="inputAuthor" class="form-control" placeholder="{{languageService.actualLanguage.test.plhAuthor}}" required="">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon glyphicon myEditIcon" id="basic-addon2">{{languageService.actualLanguage.test.lblTitle}}</span>
              <input [value]="itemAppoggio.title" (input)="itemAppoggio.title=$event.target.value" type="text" id="inputTitle" class="form-control" placeholder="{{languageService.actualLanguage.test.plhTitle}}" required="">
            </div>
          </div>
        </div>  
        <br>
      </div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-primary" (click)="editTest()">{{languageService.actualLanguage.general.btnConfirm}}</button>
				<button type="button" data-dismiss="modal" class="btn btn-danger">{{languageService.actualLanguage.general.btnCancel}}</button>
			</div>
    </div>
	</div>
</div>
