<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary pull-right" (click)="openModalAddTest()">{{languageService.actualLanguage.test.btnAdd}}</button>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-test-data-table [listTest]="listTest" 
                         (testDelete)="onDeleteTest($event)" 
                         (testEdit)="onEditTest($event)">
    </app-test-data-table>
  </div>
</div>
<p class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</p>

<div class="modal fade" id="myModalAdd" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{languageService.actualLanguage.test.lblAddModal}}</h4>
			</div>      
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon glyphicon myEditIcon" id="basic-addon1">{{languageService.actualLanguage.test.lblAuthor}}</span>
              <input [value]="itemAppoggio.author" (input)="itemAppoggio.author=$event.target.value" type="text" id="inputAuthor" class="form-control" placeholder="{{languageService.actualLanguage.test.plhAuthor}}" required="">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon glyphicon myEditIcon" id="basic-addon2">{{languageService.actualLanguage.test.lblTitle}}</span>
              <input [value]="itemAppoggio.title" (input)="itemAppoggio.title=$event.target.value" type="text" id="inputTitle" class="form-control" placeholder="{{languageService.actualLanguage.test.plhTitle}}" required="">
            </div>
          </div>
        </div>  
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addTest()">{{languageService.actualLanguage.general.btnConfirm}}</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">{{languageService.actualLanguage.general.btnCancel}}</button>        
     </div>
    </div>
	</div>
</div>