html, body {
    height: 100vh;
}

a, a:focus, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #000000 !important;
}

/*.navbar {
    margin-bottom: 0 !important;
}*/

.noFloat {
    float: none !important;
}

.rightFloat {
    margin-top: 8px;
    float: right !important;
}
